In [3]:
import pandas as pd

# Task 1

In [5]:
# Load the dataset
df = pd.read_csv('messed_dataset.csv')
print(df.head())

                Name   Age                Email      Country    Salary  \
0            invalid  59.0  ycastro@example.org  Switzerland  44694.24
1    David Jefferson  21.0                  NaN        China       NaN
2      Jessica Reyes  34.0                  NaN          NaN  60511.62
3  Kenneth Macdonald  68.0    ewolf@example.com        Italy  84223.29
4        Julie Horne  78.0                  NaN      Ecuador  24665.13

  DateOfJoining
0    2022-09-29
1    2021-10-04
2    2022-05-24
3    2022-04-07
4    2020-06-19

# Task 2

- Basic Data Cleaning

In [7]:
# Identify missing values in the DataFrame
missing_values = df.isnull().sum()
print("Missing values in the DataFrame:")
print(missing_values)

# Drop rows with missing values
df_dropped_na = df.dropna()
print("DataFrame after dropping rows with missing values:")
print(df_dropped_na.info())

Missing values in the DataFrame:
Name             11
Age               3
Email            20
Country          14
Salary            6
DateOfJoining    21
dtype: int64
DataFrame after dropping rows with missing values:
<class 'pandas.core.frame.DataFrame'>
Index: 50 entries, 0 to 98
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Name           50 non-null     object
 1   Age            50 non-null     object
 2   Email          50 non-null     object
 3   Country        50 non-null     object
 4   Salary         50 non-null     object
 5   DateOfJoining  50 non-null     object
dtypes: object(6)
memory usage: 2.7+ KB
None

# Task 3
- Data Analysis. Analyse the data by giving the summary statistics, and more information about the data

In [17]:
# Get basic statistics of the DataFrame
summary_stats = df.describe()
print("\nSummary statistics of the DataFrame:")
print(summary_stats)

Summary statistics of the DataFrame:
           Name   Age                Email Country   Salary DateOfJoining
count        89    97                   80      86       94            79
unique       85    53                   80      76       93            79
top     invalid  76.0  ycastro@example.org  Greece  invalid    2022-09-29
freq          5     6                    1       2        2             1

# Data Visualization
- Visualize the data by using the visualization libraries

In [10]:
#

In [19]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [23]:
plt.figure(figsize=(10, 6))
sns.histplot(df_filled_na['Age'], bins=20, kde=True)
plt.title('Age Distribution')
plt.xlabel('Age')
plt.ylabel('Frequency')
plt.show()

NameError: name 'df_filled_na' is not defined

In [27]:
# Fill missing values with specified values
df_filled_na = df.fillna({
    'Age': 0,
    'Email': 'Unknown',
    'Country': 'Unknown',
    'Salary': 0,
    'DateOfJoining': '1900-01-01'
})

# Remove decimal points and convert 'Age' to integers
df_filled_na['Age'] = df_filled_na['Age'].astype(float).astype(int)

# Convert 'DateOfJoining' to datetime
df_filled_na['DateOfJoining'] = pd.to_datetime(df_filled_na['DateOfJoining'])

ValueError: could not convert string to float: 'invalid'

In [29]:
invalid_ages = df_filled_na[~df_filled_na['Age'].apply(lambda x: str(x).replace('.', '', 1).isdigit())]['Age']
print("Non-numeric values in 'Age' column:")
print(invalid_ages)

Non-numeric values in 'Age' column:
43    invalid
Name: Age, dtype: object

In [37]:
df_filled_na['Age'] = pd.to_numeric(df_filled_na['Age'], errors='coerce')
df_filled_na['Age'].fillna(0, inplace=True)
df_filled_na['Age'] = df_filled_na['Age'].astype(int)

In [39]:
# Fill missing values with specified values
df_filled_na = df.fillna({
    'Age': 0,
    'Email': 'Unknown',
    'Country': 'Unknown',
    'Salary': 0,
    'DateOfJoining': '1900-01-01'
})

# Remove decimal points and convert 'Age' to integers
df_filled_na['Age'] = df_filled_na['Age'].astype(float).astype(int)

# Convert 'DateOfJoining' to datetime
df_filled_na['DateOfJoining'] = pd.to_datetime(df_filled_na['DateOfJoining'])

ValueError: could not convert string to float: 'invalid'